<html>
    <head>
        <title>Movie App</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/styles.css">
    </head>
    <body>
        <h1 id="search-h1" class="text-center">Search Your Movie Here</h1>

        <form action="/results" method="GET" class="justify-content-center d-flex">
        
        <input type="text" name="search" class="form-control w-25" placeholder="enter movie name">
        <button class="btn btn-success text-center ml-3">Search</button>
        
        
        
        
        
        </form>


    </body>

</html>